Repository Glatzel/py-bench: changes, and which Codecov flags are due for each by the changed paths.
All: arithmetic, audio

chore: synced file(s) with Glatzel/template (#88)
  .pre-commit-config.yaml
Due: none

Update ci.yml
  .github/workflows/ci.yml
Due: none

ci: Update ci.yml (#89)
  .github/workflows/ci.yml
Due: none

ci: Update ci.yml (#90)
  .github/workflows/ci.yml
Due: none

ci: Update ci.yml
  .github/workflows/ci.yml
Due: none

ci: Update ci.yml (#91)
  .github/workflows/ci.yml
Due: none

build: Update pixi lockfile
  pixi.lock
Due: none

test: reduce test dataset size
  src/audio/test_stft.py
Due: audio

Update test_stft.py
  src/audio/test_stft.py
Due: audio

chore: synced local './' with remote 'python/static/'
  ruff.toml
Due: none

chore: synced file(s) with Glatzel/template (#94)
  ruff.toml
Due: none

feat: refine stft and amp to db
  bench/audio/stft.ps1
  pixi.lock
  pixi.toml
  src/audio/test_amplitude_to_db.py
  src/audio/test_stft.py
Due: audio

fix
  example_audio/rosa.py
  example_audio/ssq.py
  example_audio/tc.py
  example_audio/util.py
Due: none

feat: refine stft and amp to db (#97)
  bench/audio/stft.ps1
  example_audio/rosa.py
  example_audio/ssq.py
  example_audio/tc.py
  example_audio/util.py
  pixi.lock
  pixi.toml
  src/audio/test_amplitude_to_db.py
  src/audio/test_stft.py
Due: audio

chore: Update pixi.toml
  pixi.toml
Due: none

chore: Update pixi.toml (#98)
  pixi.toml
Due: none

chore: Update pixi.toml (#99)
  pixi.toml
Due: none

fix
  pixi.lock
  pixi.toml
Due: none

fix
  .github/workflows/ci.yml
  pixi.toml
Due: none

fix
  .github/workflows/ci.yml
Due: none

chore: Update pixi.toml (#100)
  .github/workflows/ci.yml
  pixi.lock
  pixi.toml
Due: none

chore: Update README.md
  README.md
Due: none

chore: Update README.md (#101)
  README.md
Due: none

build: use custom torch whl
  pixi.toml
Due: none

fix
  pixi.toml
Due: none

fix
  bench/arithmetic/broadcast1.ps1
  bench/arithmetic/broadcast2.ps1
  bench/arithmetic/datum_compense_loop.ps1
  bench/arithmetic/datum_compense_vector.ps1
  bench/arithmetic/fft.ps1
  example_audio/rosa.py
  pixi.lock
  src/arithmetic/test_broadcast1.py
  src/arithmetic/test_broadcast2.py
  src/arithmetic/test_datum_compense_vector.py
Due: arithmetic

fix
  .github/workflows/ci.yml
  src/arithmetic/test_broadcast1.py
Due: arithmetic

fix
  src/arithmetic/test_broadcast2.py
Due: arithmetic

Path conditions:
  arithmetic: any of: src/arithmetic/**
  audio: any of: src/audio/**
