Repository Glatzel/py-bench: changes, and which Codecov flags are due for each by the changed paths.
All: arithmetic, audio

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 100%
    patch:
      default:
        target: 100%
        
comment:
  behavior: new
  
component_management:
  default_rules:
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
  individual_components:
    - component_id: arithmetic
      name: arithmetic
      paths: 
        - src/arithmetic/**
    - component_id: audio
      name: audio
      paths: 
        - src/audio/**

fix
  src/arithmetic/test_broadcast2.py
Due: arithmetic

fix
  pixi.toml
Due: none

fix
  pixi.lock
Due: none

build: use custom torch whl (#103)
  .github/workflows/ci.yml
  bench/arithmetic/broadcast1.ps1
  bench/arithmetic/broadcast2.ps1
  bench/arithmetic/datum_compense_loop.ps1
  bench/arithmetic/datum_compense_vector.ps1
  bench/arithmetic/fft.ps1
  example_audio/rosa.py
  pixi.lock
  pixi.toml
  src/arithmetic/test_broadcast1.py
  src/arithmetic/test_broadcast2.py
  src/arithmetic/test_datum_compense_vector.py
Due: arithmetic

build: Update pixi lockfile
  pixi.lock
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

ci: Update .pre-commit-config.yaml (#106)
  .pre-commit-config.yaml
Due: none

Update test_audio_load_numpy.py
  src/audio/test_audio_load_numpy.py
Due: audio

Update ci.yml
  .github/workflows/ci.yml
Due: none

Update test_broadcast2.py
  src/arithmetic/test_broadcast2.py
Due: arithmetic

chore: synced local './' with remote 'python/static/'
  scripts/init-pixi-env.ps1
Due: none

Delete scripts/init_pixi_env.ps1
  scripts/init_pixi_env.ps1
Due: none

chore: synced file(s) with Glatzel/template (#111)
  scripts/init-pixi-env.ps1
Due: none
